{% extends "layout.html" %}
{% block content %}
<div class="About">
    <h2>Welcome to Python champs page..!</h2>
    <p>This website is developed by Python Champs using python language</p>
    <table style="width:100%">
        <tr><h3>Team Members:</h3></tr>
          <tr><td>Jagadish_BR</td></tr>
          <tr><td>Harikrishna</td></tr>
          <tr><td>Sabarinathan</td></tr>
          <tr><td>Rajasekar_S</td></tr>
          <tr><td>Ananya_Sarkar</td></tr>
          <tr><td>Vidhya_Prakash</td></tr>
    </table>
</div>
{% endblock %}
